.chip {
  margin: 5px 2px;
  padding: 0 12px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  background-color: hsl(0, 0%, 90%);
  display: inline-block;
  position: relative;
}

.chip-img {
  float: left;
  margin: auto 0 auto -12px;
  max-height: 32px;
  max-width: 32px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.chip-text {
  margin-left: 28px;
}

.chip-btn-remove {
  float: right;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  line-height: inherit;
  padding-left: 10px;
}

.chip-btn-remove:hover {
  color: #000;
}

.shared {
  padding: .5rem;
  background-color: hsl(0, 0%, 98%);
}