.container-comment {
  will-change: height;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.message_post {
  border: 1px solid var(--br-color-msg);
  background-color: var(--bg-color-msg);
  border-radius: .25rem;
  margin: 1rem 0;
  padding: .1rem .1rem .3rem;
}

.message-header {
  padding: 15px 20px 0;
}

.msg-username {
  font-weight: 600;
}

.msg-datetime {
  font-size: 0.8rem;
}

.msg-text {
  overflow: hidden;
}

.msg-changepost {
  font-size: 0.75rem;
}

.message-content {
  padding: 8px 20px 8px;
  overflow: hidden;
}

.message-attach {
  padding: 20px 20px 8px;
}

.message-action a {
  text-decoration: none;
  font-size: 1.2em !important;
}

.message-action {
  border-top: 1px var(--line-color) solid;
  margin: 8px 8px 0;
  padding: 8px 8px;
  font-size: .85rem;
  white-space: normal;
  word-break: break-word;
}

.comment {
  border-left: 1px var(--line-color) solid;
  margin: 0 0 0 1rem;
  background-color: var(--bg-color-msg);
}

.comment_next-floor:first-child::before {
  content: '';
  display: block;
  border-top: 1px var(--line-color) solid;
  height: 8px;
  margin: 0 0 8px -1px;
}

.comment_next-floor:last-child {
  box-shadow: 0 .5rem .5rem -0.5rem hsl(0, 0%, 85%);
  border-bottom: 1px var(--line-color) solid;
  margin-bottom: 1rem;
}

.comment-header {
  padding: 15px 20px 0;
}

.comment-avatar {
  border-radius: 50%;
  margin-right: .5rem;
  height: 30px;
  width: 30px;
}

.comment-shared {
  padding: 0 20px;
  font-size: 0.75rem;
}

.comment-content {
  padding: 8px 20px 8px;
}

.comment-attach {
  padding: 20px 20px 8px;
}

.comment-editor {
  padding: 0 20px;
  width: 100%;
}

.comment-row {
  padding: 0 20px;
}

.comment_next-floor-1::before {
  width: 2.19rem;
}

.comment_next-floor-2::before {
  width: 6.45rem;
}

.comment_next-floor-3::before {
  width: 9.6rem;
}

.comment_next-floor-4::before {
  width: 13.85rem;
}

.comment_next-floor-1 {
  margin-left: -2.19rem;
}

.comment_next-floor-2 {
  margin-left: -6.45rem;
}

.comment_next-floor-3 {
  margin-left: -9.6rem;
}

.comment_next-floor-4 {
  margin-left: -13.85rem;
}