.list-message-item {
  transition: transform .2s ease-out;
}

.list-message-move {
  transition: none;
}

.list-message-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.list-message-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}