.modal-body-chooser-users {
  box-shadow: 0 2px 4px -2px hsl(0, 0%, 60%);
  overflow-y: unset;
  display: block;
}

.modal-footer-chooser-users {
  box-shadow: inset 0 1px hsl(0, 0%, 99%);
}

.modal-shared-body {
  box-shadow: inset 0 2px 4px -2px hsl(0, 0%, 60%);
}

.list-shared {
  min-height: 5rem;
  overflow-y: auto;
  display: block;
  width: 100%;
}

.list-shared-item {
  border-radius: 4px;
  margin: 0 .5rem;
  padding: 0 8px;
}

.list-shared-item:hover {
  background-color: #f1f1f1;
}

.list-shared-item-img {
  max-height: 32px;
  max-width: 32px;
  border-radius: 50%;
}

.list-shared-item-btn {
  height: 32px;
  width: 90px;
  line-height: 0;
  white-space: nowrap!important;
}

.cell-full {
  max-width:1px;
  width:100%;
  padding-top: 4px;
  padding-bottom: 4px;
}
.cell-ellipsis {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.cell-no-wrap {
  white-space:nowrap;
}

.table {
  display:table;
  width:100%;
  border-collapse:collapse;
  margin: .25rem 0;
}
.table-cell {
  display:table-cell;
}