:root {
  --bg-color-msg: hsl(50, 30%, 99%);
  --br-color-msg: hsl(120, 50%, 28%);
  --trumbowyg-pane-border-color: hsl(0, 0%, 88%);
  --line-color: hsl(0, 0%, 75%);
  --expand-duration: .3s;
  --expand-timing-function: cubic-bezier;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: hsl(230, 42%, 50%);
}

.link:hover {
  color: hsl(240, 80%, 70%);
}

.btn:focus {
  box-shadow: none;
}

.comment-content img {
  max-width: 300px;
  max-height: 300px;
}

.file_attached {
  font-size: 12px;
  font-weight: 600;
  padding: .35rem .5rem;
  margin: .25rem .25rem 0 0;
}

p {
  margin: 0 !important;
}

.btn-mark-reading {
  white-space: nowrap;
  font-size: 0.75rem;
  float: right;
  padding: .25rem .5rem;
  border-radius: .2rem;
}

.btn, .badge, .msg-text {
  white-space: normal;
  word-break: break-word;
}

.filepond--root {
  margin-bottom: 0 !important;
}

.i-pointer {
  cursor: pointer;
}

.search-message-child {
  margin-left: 3rem !important;
}

.search-mark {
  background: hsl(59, 100%, 50%);
  color: hsl(275, 77%, 20%);
  font-weight: bold;
}

.form-check {
  line-height: normal;
}

.modal-static.show {
  overflow-y: hidden!important;
}