.contentcut:before {
  position: absolute;
  display: block;
  top: -80px;
  left: -10px;
  right: -10px;
  height: 80px;
  content: '';
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  margin: 0 15px;
}

.contentcut {
  position: relative;
  width: 100%;
}