.trumbowyg-button-pane {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 0;
}

.trumbowyg-button-group {
  display: inline-flex!important;
  flex-grow: 1;
  justify-content: center;
  margin-right: -1px;
  border-right: 1px solid var(--trumbowyg-pane-border-color);
  border-bottom: 1px solid var(--trumbowyg-pane-border-color);
}

.trumbowyg-button-group::after {
  display: none!important;
}

.trumbowyg-button-pane::after {
  display: none!important;
}

.trumbowyg-button-pane button {
  width: 100%;
  padding: 1px 10px!important;
}

.trumbowyg-editor img {
  max-width: 300px;
  max-height: 300px;
}

.trumbowyg-button-pane {
  padding: 0;
}

