<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Живая лента</title>
  <link rel="stylesheet" href="css/bs.css"/>
  <link rel="stylesheet" href="css/app.min.css">
  <style>
    [v-cloak] > * {
      display: none !important;
    }
  </style>
</head>
<body>

<div id="live" class="live container" v-cloak>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-dark" @click="logout">
        Разлогинится
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
<!--      @tbw-focus=""-->
      <trumbowyg ref="editor_main"
                 v-model="editor_content"
                 :config="editor_config"
                 class="editor"
                 placeholder="Введите сообщение">
      </trumbowyg>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <input class="btn btn-outline-secondary w-100 my-2" type="button"
             value="Отправить сообщение" @click="sendMessage"/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <file-pond
        allow-multiple="true"
        allow-paste="false"
        class="text-center"
        label-idle="Загрузить файлы..."
        max-file-size="500MB"
        ref="filepond"
        server="/api/send_attach">
      </file-pond>
    </div>
  </div>

  <div class="row my-2">
    <div id="choose_shared"
         class="modal fade"
         tabindex="-1"
         role="dialog"
         data-keyboard="false"
         data-backdrop="static"
         aria-hidden="true"
         aria-labelledby="choose_shared_title">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">

          <div class="modal-header border-bottom-0 modal-body-chooser-users">
            <h5 class="modal-title" id="choose_shared_title">Выберите получателей</h5>
            <div class="input-group flex-nowrap mt-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <span class="fa fa-search"></span>
                </span>
              </div>
              <input v-model="search_participant_text"
                     @input="search_participant"
                     id="search_participant_id"
                     type="text"
                     class="form-control"
                     placeholder="Поиск от 3 символов"
                     aria-label="Поиск"
                     aria-describedby="search_wrapping_shared"/>
            </div>
          </div>

          <div class="modal-body">
            <div class="list-shared">
              <list-shared-item v-for="person in shared_participant_buffer"
                                :key="person.id"
                                :person="person"
                                @on-toggle-select="participant_select_change">
              </list-shared-item>
              <list-shared-item v-for="person in shared_participant_finded"
                                :key="person.id"
                                :person="person"
                                @on-toggle-select="participant_select_change">
              </list-shared-item>
            </div>
          </div>

          <div class="modal-footer modal-footer-chooser-users">
            <button type="button" class="btn btn-outline-secondary"
                    @click="on_shared_participant_modal_close">
              Отмена
            </button>
            <button type="button" class="btn btn-primary"
                    @click="on_shared_participant_modal_apply">
              Готово
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="view_shared"
         class="modal fade" tabindex="-1"
         role="dialog"
         aria-hidden="true"
         aria-labelledby="view_shared_title">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="view_shared_title">Получатели сообщения</h5>
          </div>

          <div class="modal-body modal-shared-body">
            <div class="list-shared">
              <div class="table m-0">
                <span class="table-cell cell-full cell-ellipsis w-50 text-center h6">
                  Получатель
                </span>
                  <span class="table-cell cell-full cell-ellipsis w-50 text-right h6">
                  Дата прочтения
                </span>
              </div>
              <div v-for="person in shared_participant_view" class="table list-shared-item">
                <span class="table-cell cell-full cell-ellipsis">
                  <img :src="person.avatar_link" class="comment-avatar" alt="Аватар">
                  <span :id="`list-shared-item-txt-${person.id}`">
                    {{ person.person_fio_full }}
                  </span>
                </span>
                <span class="table-cell cell-no-wrap"  data-toggle="tooltip" data-placement="top" :title="person.marked_date_tooltip">
                  {{ person.marked_date }}
                </span>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-outline-secondary" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <span class="link" @click="on_shared_participant_modal_show">Изменить получателей</span>
      <span v-if="util.isFilledArray(shared_participant_select)"
            @click="shared_participant_select.splice(0)"
            class="link ml-3 float-right">
        очистить всё
      </span>
    </div>

    <div class="col-12">
      <div class="shared rounded border">
        <span class="text-secondary" v-if="!util.isFilledArray(shared_participant_select)">Всем</span>

        <div v-for="user in shared_participant_select"
             :key="user.id" class="chip">
          <img :src="user.avatar_link" class="chip-img" alt="Аватар">
          <span class="chip-text">{{ user.person_fio_short }}</span>
          <i class="fa fa-times chip-btn-remove" @click="shared_participant_select.splice(shared_participant_select.findIndex((sp) => sp.id === user.id), 1)"></i>
        </div>

      </div>
    </div>

    <div class="col-12" v-if="util.isFilledArray(shared_participant_select)">
      <div class="form-check">
        <input v-model="control_reading_post" id="control_reading" type="checkbox" class="form-check-input">
        <label for="control_reading" class="form-check-label">
          Контроль чтения
        </label>
      </div>
    </div>
  </div>

  <hr/>

  <div class="input-group flex-nowrap">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <span class="fa fa-search"></span>
      </span>
    </div>
    <input v-model="search_text"
           @keyup.enter="search"
           type="text" class="form-control" placeholder="Поиск..."
           aria-label="Поиск" aria-describedby="search_wrapping"/>
    <div v-if="search_text && search_text.length > 0" class="input-group-append" id="search_wrapping">
      <button class="btn btn-outline-primary" type="button" @click="search">
        Найти!
      </button>
      <button class="btn btn-outline-danger" type="button" @click="search_text = ''">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <div v-show="!search_mode" class="post-tape">
    <div>
      <comment-tree ref="comment-tree"
                    :comments="messages"
                    @get-comments="getChildrenComments"
                    @shared-participant-modal-show="sharedParticipantShow"/>
    </div>

    <infinite-loading class="m-4" @infinite="infiniteHandler" distance="200" spinner="waveDots">
      <div slot="no-more">Больше ничего не найдено</div>
      <div slot="no-results">Ничего не найдено</div>
      <div slot="error" slot-scope="{ trigger }">
        Ошибка при поиске сообщений
        <br/>
        <a href="" @click="trigger">
          <button class="btn-try-infinite">
            Повторить
          </button>
        </a>
      </div>
    </infinite-loading>
  </div>

  <div v-show="search_mode" class="search-tape">
    <transition-group name="list-message" tag="div">
      <div v-for="message in search_messages"
           :key="message.id"
           :class="message.classes"
           :data-key="message.id">
        <div class="row comment-header">
          <span class="col-sm-8 col-12 d-flex align-items-center">
            <img :src="message.avatar_link" class="comment-avatar" alt="Аватар">
            <span class="msg-username">
              {{ message.person_fio_short }}
            </span>
          </span>
          <span class="col-sm-4 col-12 font-weight-light text-md-right msg-datetime text-sm-right">
            <span data-toggle="tooltip" data-placement="top" :title="message.post_stamp_tooltip">
              <i class="fa fa-clock-o mr-1"></i>
              {{ message.post_stamp }}
            </span>
          </span>
        </div>

        <div class="row comment-content">
          <message-content-searchable :data="message.content"
                                      :dataid="message.id"
                                      :search_text="message.finded"
                                      class="col-12">
          </message-content-searchable>
        </div>

        <div v-if="util.isFilledArray(message.attached)" class="row comment-attach">
          <div class="col-12 font-weight-bold">
            Файлы:
          </div>
          <div class="col-md-12 col-sm-12">
            <a v-for="file in message.attached"
               :key="file.name"
               :href="file.link"
               target="_blank"
               :class="file.class">
              {{ file.name }}
            </a>
          </div>
        </div>
        <div v-if="message.change_stamp_tooltip" class="row">
          <div class="col-12">
            <span class="ml-3 font-weight-light msg-changepost" data-toggle="tooltip" data-placement="top"
                  :title="message.change_stamp_tooltip">
              Изменено {{ comment.change_stamp }}
            </span>
          </div>
        </div>

      </div>
    </transition-group>

    <infinite-loading class="m-4"
                      spinner="waveDots"
                      ref="infinity_search"
                      v-show="search_infinity_show"
                      :identifier="search_infinity_id"
                      @infinite="infiniteHandlerSearch">
      <div slot="no-more">Сообщений больше нет</div>
      <div slot="no-results">Сообщений нет</div>
      <div slot="error" slot-scope="{ trigger }">
        Ошибка получения сообщений
        <br/>
        <a href="" @click="trigger">
          <button class="btn-try-infinite">
            Повторить
          </button>
        </a>
      </div>
    </infinite-loading>
  </div>

</div>

<script type="text/x-template" id="comment-tree-template">
  <div>
    <transition-group name="list-message" tag="div">
      <div v-for="comment in comments"
           :key="comment.id"
           :ref="comment.id"
           :class="comment.child_classes"
           :data-depth="comment.depth_indent"
           :data-key="comment.id">
        <div class="row comment-header">
          <span class="col-sm-8 col-12 d-flex align-items-center">
            <img :src="comment.avatar_link" class="comment-avatar" alt="Аватар">
            <span class="msg-username">
              {{ comment.person_fio_short }}
            </span>
          </span>
          <span class="col-sm-4 col-12 font-weight-light text-md-right msg-datetime text-sm-right">
            <span data-toggle="tooltip" data-placement="top" :title="comment.post_stamp_tooltip">
              <i class="fa fa-clock-o mr-1"></i>
              {{ comment.post_stamp }}
            </span>
          </span>
        </div>

        <div class="row comment-shared" v-if="comment.depth_indent === 0 && util.isFilledArray(comment.shared)">
          <span class="col-12">
            <span class="link"
                  @click="sharedParticipantModalShow(comment)">
              Кому:
              {{ comment.shared_txt }}
            </span>
            <button :class="['btn', 'btn-mark-reading', comment.marked_state ? 'btn-outline-secondary' : 'btn-warning']"
                    v-if="comment.marked_state !== null"
                    @click="onMarkViewMessage(comment)">
              <i class="fa fa-eye"></i>
            </button>
          </span>
        </div>

        <div class="row comment-content">
          <message-content-collapsable :data="comment.content"
                                       :dataid="comment.id">
          </message-content-collapsable>
        </div>

        <div v-if="util.isFilledArray(comment.attached)" class="row comment-attach">
          <div class="col-12 font-weight-bold">
            Файлы:
          </div>
          <div class="col-md-12 col-sm-12">
            <a v-for="file in comment.attached"
               :key="file.name"
               :href="file.link"
               target="_blank"
               class="file_attached badge badge-pill badge-primary">
              {{ file.name }}
            </a>
          </div>
        </div>
        <div v-if="comment.change_stamp_tooltip" class="row">
          <div class="col-12">
            <span class="ml-3 font-weight-light msg-changepost" data-toggle="tooltip" data-placement="top"
                  :title="comment.change_stamp_tooltip">
              Изменено {{ comment.change_stamp }}
            </span>
          </div>
        </div>

        <div class="message-action">
          <div class="btn-group btn-group-sm d-flex d-md-inline-flex" role="group">

            <!--            Комментарии-->
            <a href="" :class="['btn', { 'btn-outline-primary': isMobile } ]" role="button"
               v-if="comment.child_count > 0"
               @click.prevent="getComments(comment.id, $event)">
              <span>
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <span class="d-none d-md-inline">
                    Комментарии
                </span>
              </span>
              <span>
                  ({{ comment.child_count }})
                  <i :class="['fa',  comment.child_show ? 'fa-angle-up' : 'fa-angle-down' ]"></i>
                </span>
            </a>
            <!--            Комментарии-->

            <!--            Ответить-->
            <a href="" :class="['btn', { 'btn-outline-primary': isMobile } ]" role="button"
               @click.prevent="onAppendCommentMode(comment, $event)">
              <i class="fa fa-reply" aria-hidden="true"></i>
              <span class="d-none d-md-inline">
                Ответить
              </span>
            </a>
            <!--            Ответить-->

            <!--            Изменить-->
            <a href="" :class="['btn', { 'btn-outline-primary': isMobile } ]" role="button"
               v-if="comment.my_message"
               @click.prevent="onEditingMode(comment, $event)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <span class="d-none d-md-inline">
                Изменить
              </span>
            </a>
            <!--            Изменить-->

            <!--            Удалить-->
            <a href="" :class="['btn', { 'btn-outline-danger': isMobile } ]" role="button"
               v-if="comment.my_message"
               @click.prevent="onDeleteCommentRequest(comment, $event)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
              <span class="d-none d-md-inline">
                Удалить
              </span>
            </a>
            <!--            Удалить-->
          </div>
        </div>
        <div v-if="comment.child_editing_mode || comment.child_append_mode">
          <div class="row">
            <div class="col-12">
              <div class="comment-editor">
                <trumbowyg
                  :config="editor_config"
                  :data-ref="`editor_comment-${comment.id}`"
                  class="editor"
                  placeholder="Введите сообщение"
                  v-model="comment.child_editor_content">
                </trumbowyg>
              </div>
            </div>
          </div>

          <div class="row comment-row d-flex align-items-center">
            <div class="col-12">
              <input v-if="comment.child_editing_mode"
                     @click="onApplyEditing(comment)"
                     class="btn btn-outline-success my-1 col-12"
                     value="Сохранить"
                     type="button"/>
              <input v-if="comment.child_append_mode"
                     @click="onSendComment(comment)"
                     class="btn btn-outline-success my-1 col-12"
                     value="Отправить"
                     type="button"/>

              <input class="btn btn-outline-danger my-1 col-12"
                     @click="onCancelEditing(comment)"
                     value="Отмена"
                     type="button"/>
            </div>
            <div class="col-12 my-1">
              <file-pond
                @init="handleFilePondInit(comment)"
                :ref="`pond-comment-${comment.id}`"
                allow-multiple="true"
                allow-paste="false"
                class="pond text-center my-1"
                label-idle="Загрузить файлы"
                max-file-size="500MB">
              </file-pond>
            </div>

            <div v-if="(comment.child_editing_mode && util.isFilledArray(comment.child_editor_attached))
                    || util.isFilledArray(comment.child_editor_filepond)"
                 class="col-12 font-weight-bold">
              Файлы:
            </div>
            <div v-if="comment.child_editing_mode
                    && util.isFilledArray(comment.child_editor_attached)"
                 class="col-12 my-2">
              <span v-for="file in comment.child_editor_attached" :key="file.name"
                    class="file_attached badge badge-pill badge-primary">
                <a :href="file.link" class="text-white" target="_blank">{{ file.name }}</a>
                <i class="fa fa-times i-pointer ml-1"
                   @click="removeFileAttachOnEditingMode(comment, file)"></i>
              </span>
            </div>

            <div v-if="(comment.child_append_mode || comment.child_editing_mode)
                     && util.isFilledArray(comment.child_editor_filepond)"
                 class="col-12 my-2">
              <span v-for="file in comment.child_editor_filepond" :key="file.id"
                    class="file_attached badge badge-pill badge-success">
                <a :href="file.link" class="text-white" target="_blank">{{ file.filename }}</a>
                <i class="fa fa-times i-pointer ml-1"
                   @click="removeFilePondOnEditingMode(comment, file)"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="container-comment" v-show="comment.child_show">
          <comment-tree
            ref="comment-tree"
            :comments="comment.childs"
            @get-comments="$emit('get-comments', $event)"
            @shared-participant-modal-show="$emit('shared-participant-modal-show', $event)"/>
        </div>
      </div>
    </transition-group>
  </div>
</script>

<script defer src="js/app.bundle.js"></script>
<script defer src="js/util.js"></script>
<script defer src="js/comment-tree.js"></script>
<script defer src="js/message-content-collapsable.js"></script>
<script defer src="js/message-content-search.js"></script>
<script defer src="js/list-shared-item.js"></script>
<script defer src="js/app.js"></script>
</body>
</html>
